* {box-sizing: border-box; margin: 0; padding: 0;}



@media screen (min-width: 769px) and (max-width: 1920px) {

.dropdown li a img {
  width: 50px;
}

ul li ul.dropdown{
  display: none;
  position: fixed;
  z-index: 999;
  margin-left: 15px;
  width: 100px;
  height: 100px;
}

ul li:hover ul.dropdown{
  display: block;
}
      
ul li ul.dropdown li{
  display: block;
}

.dropdown {
  background-color: rgba(51, 51, 51, .7);
}

.dropdown li:hover {
  background-color: grey;
 }

}

@media screen and (max-width: 768px) {

.col-75 {
background-color: grey;
position: relative;
color: white;
top: 110px;
z-index: 100;
text-align: center;
padding: 10px 10px;
width: 90%;
margin: auto auto auto auto;
}
.list-item1 {
  grid-area: search;
}
.list-item2{
  grid-area: account;
}
.list-item3{
  grid-area: home;
} 
.list-item4{
  grid-area: cart;
}
  
.home {
  width: 50px;
  color: white;
}

.dropdown {
  display: none;
}


.container {
  width: 89.5%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 9;
  grid-template-rows: repeat(1, minmax(20px, 1fr));

  grid-template-areas: 
  "search . account . home . cart . .";
}

[class*=material-icons] {
  color: white;
  font-size: 40px;
}

.color-menu {
  background-color: black;
  height: auto;
  text-align: center;
  z-index: 99;
  position: fixed;
  width: 100%;
}

[class*="list-item"] {
  display: inline-block;
}

body {
  background-attachment: fixed;
  width: 100%;
  overflow: auto;
  height: 100%;
  background-image: url("https://a-static.besthdwallpaper.com/barbar-dator-tapet-2560x2048-16851_33.jpg");
  background-size: cover;
  transition: margin 0.3s;
}

 

.menu ul {
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

.menu ul li {
  padding: 5px 0 5px;
  border-bottom: 1px solid white; 
  margin: 5px 0 5px;
  height: 50px;
}
.menu ul li a{
  margin: 0 5px 0 5px;
  color: white;
}



.menu li:hover {
  background-color: gray;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  margin-left: 100%;
  top: 55px;
  text-align: center;
  position: fixed;
  transition: margin 0.3s;
  z-index:110;
  border: 1px solid white;
  width: 100%;
  background-color: rgba(51, 51, 51, .7);
}



input[type=checkbox] {
  position: fixed;
  opacity: 0;
}

.nav-toggle {
  top: 5px;
  display: block;
  position: fixed;
  height: 32px;
  cursor: pointer;
  z-index: 99;
  transition: margin 0.3s;
  right: 5px;
}


.nav-toggle span {
  position: relative;
  display: block;
  height: 5px;
  width: 35px;
  transition: all 0.3s;
  margin-top: 1px;
  margin-bottom: 1px;
}

.menu li:nth-child(7) {
  border-bottom: none;
}

.nav-toggle span:nth-child(1) {
  background-color: white;
}


.nav-toggle span:nth-child(3) {
  background-color: white;
}

.nav-toggle span:nth-child(5) {
  background-color: white;
}

input[type=checkbox]:checked~.nav-toggle span:nth-child(1) {
  background-color: white;
  transform: rotate(45deg);
  top: 10px;
}

input[type=checkbox]:checked~.nav-toggle span:nth-child(2) {
  display: none;
}


input[type=checkbox]:checked~.nav-toggle span:nth-child(3) {
  display: none;
  transform: rotate(-45deg);
}

input[type=checkbox]:checked~.nav-toggle span:nth-child(4) {
  display: none;
}

input[type=checkbox]:checked~.nav-toggle span:nth-child(5) {
  background-color: white;
  transform: rotate(-45deg);
  top: 5px;
}


input[type=checkbox]:checked ~ .menu{
  margin-left: 0px;
  top: 55px;
}



.caption h1 {
  position: absolute;
  top:20px;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 70px;
}

.caption {
  background-color: rgba(51, 51, 51, .7);
  position: relative;
  top: auto;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  display: inline-block;
}

.item1 {grid-area: item1;border: 1px solid #333;
margin: 10px 10px; background-color: white;}
.item2 {grid-area: item2;border: 1px solid #333;
margin: 10px 10px; background-color: white;}
.item3 {grid-area: item3;border: 1px solid #333;
margin: 10px 10px; background-color: white;}
.item4 {grid-area: item4;border: 1px solid #333;
margin: 10px 10px; background-color: white;}
.item5 {grid-area: item5;border: 1px solid #333;
margin: 10px 10px; background-color: white;}
.item6 {grid-area: item6;border: 1px solid #333;
margin: 10px 10px; background-color: white;}


.box {
width: 90%;
position: relative;
display: grid;
margin: 100px auto;
background-color: grey;
grid-template-columns: ;
grid-template-rows: repeat(3, minmax(200px, 1fr));
grid-template-areas:
"item1 item2"
"item3 item4"
"item5 item6";
grid-gap: 0% 0%;
padding: 10px;
}



[class*="pc"] {
  border: 1px solid black;
}
.footer {
  background-color: black;
}

.box img {
  height: auto;
  width: 100%;
  position: relative;
}


h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  text-align:center;
  color: white;
  padding-bottom: 25px; 
  padding-top: 25px;
}

