* {
  font: 400 15px/1.8 "Lato", sans-serif;
  padding:0;
  margin: 0;
}

body {
  background-attachment: fixed;
background-image: url("../images/bg.png");
background-size: cover;
position: relative;
background-position: center;
background-repeat: no-repeat;
}

.row2 img {
  width: 200px;
} 

.row2{
  width: 90%;
   margin: 100px auto;
  color: white; 
    padding-bottom: 62.5%; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
background-image: url("../images/bg3.jpg");
}




.navbar-brand img {
  width: 40px;
  padding: 0;
  margin: 0;
  height: 40px;
  margin: 5px 20px 20px 20px;
}

.navbar-brand {
  padding: 0;
}

.navbar {
  border-radius: 0;
  background-color: black;
  margin-bottom: 0;
}

.caption {
  text-align: center;
  background-color: rgba(51, 51, 51, .7);
color: #fff;
padding: 18px;
font-size: 25px;
}

.box {
  padding-bottom: 10px;
}

.col-sm-4 a {
  padding-left: 10px;
}

.col-sm-4 p {
  text-align: left;
  padding-left: 10px;
  width: 60%;
  margin: 10px auto;
  border: 1px solid black;
}

.col-sm-4 button {
  border: 1px solid black;
}

button {
  margin-left: 20px;
}

.pc {
  width: 50px;
}

footer {
background-color: #282E34;
width: 100%;
position: initial;
color: white;
text-align: center;
clear: both;
height: 160px;
left: 0;
bottom: 0;
}
