* {
  font: 400 15px/1.8 "Lato", sans-serif;
  padding:0;
  margin: 0;
}


.navbar-brand img {
  width: 40px;
  padding: 0;
  margin: 0;
  height: 40px;
  margin: 5px 20px 20px 20px;
}

.navbar-brand {
  padding: 0;
}

.navbar {
  border-radius: 0;
  background-color: black;
  margin-bottom: 0;
}

.caption {
  text-align: center;
  background-color: rgba(51, 51, 51, .7);
color: #fff;
padding: 18px;
font-size: 25px;
}


button {
  margin-left: 20px;
}

.pc {
  width: 50px;
}

footer {
background-color: #282E34;
width: 100%;
position: initial;
color: white;
text-align: center;
clear: both;
height: 160px;
left: 0;
bottom: 0;
}
