* {

  box-sizing: border-box;
}

* {margin: 0; padding: 0;}

@media screen and (max-width: 768px) {

 

  .list-item1 {
    grid-area: search;
  }
  .list-item2{
    grid-area: account;
  }
  .list-item3{
    grid-area: home;
  } 
  .list-item4{
    grid-area: cart;
  }
  
  .home {
    width: 50px;
    color: white;
  }

 .container {
  width: 89.5%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 10;
  grid-template-rows: repeat(1, minmax(50px, 1fr));

  grid-template-areas: 
  "search . account . home . cart . . .";
}

[class*=material-icons] {
  color: white;
  font-size: 40px;
}

  .color-menu {
    background-color: black;
    height: auto;
    text-align: center;
  }

 [class*="list-item"] {
  display: inline-block;
}



  body {
    background-attachment: fixed;
    width: 100%;
    overflow: auto;
    height: 100%;
    background-image: url("https://a-static.besthdwallpaper.com/barbar-dator-tapet-2560x2048-16851_33.jpg");
    background-size: cover;
    transition: margin 0.3s;
  }

 

  .menu ul {
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;

  }

  .menu ul li {
    padding: 5px 0 5px;
  border-bottom: 1px solid white; 
    margin: 5px 0 5px;
    height: 50px;
  }
  .menu ul li a{
    margin: 0 5px 0 5px;
    color: white;
  }



  .menu li:hover {
    background-color: gray;
  }

a {
  text-decoration: none;
  color: black;
}

.menu {
  margin-left: 100%;
  top: 55px;
  text-align: center;
  position: fixed;
  transition: margin 0.3s;
  z-index:99;
  border: 1px solid white;
  width: 100%;
  background-color: rgba(51, 51, 51, .7);
}



  input[type=checkbox] {
    position: fixed;
    opacity: 0;
  }

  .nav-toggle {
    top: 10px;
    display: block;
    position: absolute;
    height: 32px;
    cursor: pointer;
    z-index: 99;
    transition: margin 0.3s;
    right: 15px;
  }


  .nav-toggle span {
    position: relative;
    display: block;
    height: 5px;
    width: 40px;
    transition: all 0.3s;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .menu li:nth-child(7) {
    border-bottom: none;
  }


  .nav-toggle span:nth-child(1) {
    background-color: white;
  }


  .nav-toggle span:nth-child(3) {
    background-color: white;
  }

  .nav-toggle span:nth-child(5) {
    background-color: white;
  }
  

  input[type=checkbox]:checked~.nav-toggle {}

  input[type=checkbox]:checked~.nav-toggle span:nth-child(1) {
    background-color: white;
    transform: rotate(45deg);
    top: 10px;
  }

  input[type=checkbox]:checked~.nav-toggle span:nth-child(2) {
    display: none;
  }


  input[type=checkbox]:checked~.nav-toggle span:nth-child(3) {
    display: none;
    transform: rotate(-45deg);
  }

  input[type=checkbox]:checked~.nav-toggle span:nth-child(4) {
    display: none;
  }

  input[type=checkbox]:checked~.nav-toggle span:nth-child(5) {
    background-color: white;
    transform: rotate(-45deg);
    top: 5px;
  }


input[type=checkbox]:checked ~ .menu{
  margin-left: 0px;
  top: 55px;
}



.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

.caption span.border {
  background-color: rgba(51, 51, 51, .7);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.footer {
  background-color: rgb(29, 29, 29);
  overflow: hidden;
  width: 100%;
  color: white;
  text-align: center;
  clear: both;
  height: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
}

h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  text-align:center;
  color: white;
  padding-bottom: 25px; 
  padding-top: 25px;
}

